openapi: "3.0.3"

info:
  title: "API Livros de Programação"
  version: "1.0.0"
  description: "API para recomendar livros para iniciantes em programação"

servers:
  - url: "https://api.livros.com/v1"
    description: "Servidor principal"

paths:

  /livros:

    get:
      summary: "Listar livros"
      operationId: "listBooks"
      tags: ["Livros"]

      responses:
        "200":
          description: "Lista de livros retornada com sucesso"

    post:
      summary: "Cadastrar livro"
      operationId: "createBook"
      tags: ["Livros"]

      requestBody:
        required: true

        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NovoLivro"

      responses:
        "201":
          description: "Livro cadastrado"

        "400":
          description: "Dados inválidos"

  /livros/{id}:

    get:
      summary: "Buscar livro por ID"
      operationId: "getBook"
      tags: ["Livros"]

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: string

      responses:
        "200":
          description: "Livro encontrado"

        "404":
          description: "Livro não encontrado"

components:

  schemas:

    NovoLivro:
      type: object

      required:
        - titulo
        - autor

      properties:

        titulo:
          type: string
          example: "Python para Iniciantes"

        autor:
          type: string
          example: "João Silva"

        nivel:
          type: string
          example: "Iniciante"