openapi: "3.0.3"

info:
  title: "API Livros de Programação"
  version: "1.0.0"
  description: "API para recomendar livros para iniciantes em programação"

servers:
  - url: "https://api.livros.com/v1"
    description: "Servidor principal"

paths:

  /livros:

    get:
      summary: "Listar livros"

      operationId: "listBooks"

      tags:
        - "Livros"

      responses:

        "200":
          description: "Lista de livros retornada com sucesso"

          content:
            application/json:

              schema:
                type: array

                items:
                  $ref: "#/components/schemas/Livro"

    post:
      summary: "Cadastrar livro"

      operationId: "createBook"

      tags:
        - "Livros"

      requestBody:

        required: true

        content:
          application/json:

            schema:
              $ref: "#/components/schemas/NovoLivro"

      responses:

        "201":
          description: "Livro cadastrado com sucesso"

          content:
            application/json:

              schema:
                $ref: "#/components/schemas/Livro"

        "400":
          description: "Dados inválidos"

          content:
            application/json:

              schema:
                type: object

                properties:
                  erro:
                    type: string

  /livros/{id}:

    get:
      summary: "Buscar livro por ID"

      operationId: "getBook"

      tags:
        - "Livros"

      parameters:

        - name: id
          in: path
          required: true  

          schema:
            type: string

      responses:

        "200":
          description: "Livro encontrado com sucesso"

          content:
            application/json:

              schema:
                $ref: "#/components/schemas/Livro"

        "404":
          description: "Livro não encontrado"

          content:
            application/json:

              schema:
                type: object

                properties:
                  erro:
                    type: string

components:

  schemas:

    Livro:

      type: object

      required:
        - id
        - titulo
        - autor

      properties:

        id:
          type: string
          example: "123"

        titulo:
          type: string
          example: "Python para Iniciantes"

        autor:
          type: string
          example: "João Silva"

        nivel:
          type: string
          example: "Iniciante"

    NovoLivro:

      type: object

      required:
        - titulo
        - autor

      properties:

        titulo:
          type: string
          example: "Python para Iniciantes"

        autor:
          type: string
          example: "João Silva"

        nivel:
          type: string
          example: "Iniciante" 